@font-face {
    font-family: 'cantarellbold';
    src: url('../fonts/Cantarell-Bold-webfont.eot');
    src: url('../fonts/../fonts/Cantarell-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cantarell-Bold-webfont.woff') format('woff'),
         url('../fonts/Cantarell-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Cantarell-Bold-webfont.svg#cantarellbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cantarellregular';
    src: url('../fonts/Cantarell-Regular-webfont.eot');
    src: url('../fonts/Cantarell-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cantarell-Regular-webfont.woff') format('woff'),
         url('../fonts/Cantarell-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Cantarell-Regular-webfont.svg#cantarellregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


html, body {
		background-color: #c3c3c3; margin: 0px; padding: 0px;
		font-family: 'cantarellbold';
		  background: #4b2782;
		  background: -moz-linear-gradient(-45deg,  #4b2782 0%, #704891 100%);
		  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#4b2782), color-stop(100%,#704891));
		  background: -webkit-linear-gradient(-45deg,  #4b2782 0%,#704891 100%);
		  background: -o-linear-gradient(-45deg,  #4b2782 0%,#704891 100%);
		  background: -ms-linear-gradient(-45deg,  #4b2782 0%,#704891 100%);
		  background: linear-gradient(135deg,  #4b2782 0%,#704891 100%);
		  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b2782', endColorstr='#704891',GradientType=1 );
		  overflow: hidden;

		   min-width: 100%;
	  		min-height:100%;
	}

#wrapper{
/*  background-color: red;*/

	  min-width: 100%;
	  min-height:100%;

	  font-size: 1px;
	  color: #4b2782;

	   background: #4b2782;
	      background: -moz-linear-gradient(-45deg,  #4b2782 0%, #704891 100%);
	      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#4b2782), color-stop(100%,#704891));
	      background: -webkit-linear-gradient(-45deg,  #4b2782 0%,#704891 100%);
	      background: -o-linear-gradient(-45deg,  #4b2782 0%,#704891 100%);
	      background: -ms-linear-gradient(-45deg,  #4b2782 0%,#704891 100%);
	      background: linear-gradient(135deg,  #4b2782 0%,#704891 100%);
	      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b2782', endColorstr='#704891',GradientType=1 );
	      overflow: hidden;
}

		#container{ 
			      width: 1024px;  
			      position: absolute; 
			      left: 50%; margin-left: -512px;
			      top:50%; margin-top: -379px;
			      height: 738px;
			      background: url('../imgs/background.png') no-repeat 0 0;
			      color: #fff;
		}

		#nav{
			position: relative;
			top: 60px;
			left: 60px;
			font-size: 14px;
			line-height: 18px;
			padding-left: 20px;
			background: url('../imgs/back.png') no-repeat 0 0;
			display: block;
			z-index: 1000;
			width: 180px
		}

		#nav a:link, #nav a:visited, #nav a:visited  {color: white; text-decoration: none; display: block;}
		#nav a:hover { color:#F8B883;}

		#finaltime{
			font-family: 'cantarellbold';
			position: relative;
			font-size: 50px;
			z-index: 99;
			padding: 10px;
			top:220px;
			width: 1000px;
			text-align: center;

		}

		#btn_replay, #btn_score{
			position: absolute;
			z-index: 99;
			padding: 10px;
			top:480px;
			left:50%;
			margin-left: -165px;
			width: 300px;
			border:2px solid white;
			text-align: center;
			font-size: 25px;
			display: block;
			background-color: #774b9b;
			color: white;
			font-family: 'cantarellregular';
			-webkit-border-radius: 15px;
			-moz-border-radius: 15px;
			border-radius: 15px;

			box-shadow: 0 15px 50px rgba(0,0,0,0.2);
			-moz-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
			-webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
		}

		#btn_score{
			/*position: absolute;
			top:400px;*/
			width: 240px;
			margin-left: 55px;
			top:331px;

			-webkit-appearance:none;
		    -moz-appearance:none;
		    appearance:none;
			/*font-size: 20px;*/
		/*	display: none;*/

		}

		#nametxt{
			position: absolute;
			top:336px !important;
			left: 50%; margin-left: -300px;
			width: 300px;
			height: 40px !important;
			padding: 5px !important;
			font-size: 20px;
			line-height: 40px;
			color: #c3c3c3;
			text-align: center;
			background-color:#774b9b;
			border:2px solid #F8B883;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			-webkit-appearance:none;
		    -moz-appearance:none;
		    appearance:none;
		}

		#btn_replay:hover, #btn_score:hover{
			 border: 2px solid #F8B883;
			 background-color: #774b9b;
			 box-shadow: 0 15px 50px rgba(0,0,0,0.6);
			 -moz-box-shadow: 0 15px 50px rgba(0,0,0,0.6);
			 -webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.6);
		}

		.panel {
			float: left;
			width: 192px;
			height: 131px;
			margin: 10px;
			position: relative;
			font-size: .8em;

			-webkit-perspective: 600px;
			-moz-perspective: 600px;
		}
		/* -- make sure to declare a default for every property that you want animated -- */
		/* -- general styles, including Y axis rotation -- */
		.panel .front {
			float: none;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 900;
			width: inherit;
			height: inherit;
			border: 2px solid #F8B883;
			background: #000;
			text-align: center;
			background: url('../imgs/front.jpg') no-repeat 0 0;
		/*	background-size: 100% 100%;*/

			-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.9);
			-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.9);
			box-shadow: 0 1px 5px rgba(0,0,0,0.9);

			-webkit-transform: rotateX(0deg) rotateY(0deg);
			-webkit-transform-style: preserve-3d;
			-webkit-backface-visibility: hidden;

			-moz-transform: rotateX(0deg) rotateY(0deg);
			-moz-transform-style: preserve-3d;
			-moz-backface-visibility: hidden;

			/* -- transition is the magic sauce for animation -- */
			-o-transition: all .4s ease-in-out;
			-ms-transition: all .4s ease-in-out;
			-moz-transition: all .4s ease-in-out;
			-webkit-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
		}
		.panel.flip .front {
			z-index: 900;
			border-color: #F8B883;
			background: #000;

			background: url('../imgs/front.jpg') no-repeat 0 0;

			-webkit-transform: rotateY(180deg);
			-moz-transform: rotateY(180deg);

			-moz-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
			-webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
			box-shadow: 0 15px 50px rgba(0,0,0,0.2);
		}

		.panel .back {
			float: none;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 800;
			width: inherit;
			height: inherit;
			border: 2px solid #ccc;
			background: #333;
			text-shadow: 1px  1px 1px rgba(0,0,0,0.6);

			-webkit-transform: rotateY(-180deg);
			-webkit-transform-style: preserve-3d;
			-webkit-backface-visibility: hidden;

			-moz-transform: rotateY(-180deg);
			-moz-transform-style: preserve-3d;
			-moz-backface-visibility: hidden;

			/* -- transition is the magic sauce for animation -- */
			-o-transition: all .4s ease-in-out;
			-ms-transition: all .4s ease-in-out;
			-moz-transition: all .4s ease-in-out;
			-webkit-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
		}

		.panel.flip .back {
			z-index: 1000;
			background: #80868d;
			-webkit-transform: rotateX(0deg) rotateY(0deg);
			-moz-transform: rotateX(0deg) rotateY(0deg);

			box-shadow: 0 15px 50px rgba(0,0,0,0.2);
			-moz-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
			-webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
		}

		.panel.image1 .back{
			background: url('../imgs/card1.jpg') no-repeat 0 0;
		}

		.panel.image2 .back{
			background: url('../imgs/card2.jpg') no-repeat 0 0;
		}

		.panel.image3 .back{
			background: url('../imgs/card3.jpg') no-repeat 0 0;
		}

		.panel.image4 .back{
			background: url('../imgs/card4.jpg') no-repeat 0 0;
		}

		.panel.image5 .back{
			background: url('../imgs/card5.jpg') no-repeat 0 0;
		}

		.panel.image6 .back{
			background: url('../imgs/card6.jpg') no-repeat 0 0;
		}

		/* -- X axis rotation for click panel -- */
		.click .front {
			cursor: pointer;
			-webkit-transform: rotateY(0deg);
			-moz-transform: rotateY(0deg);
		}
		.click.flip .front {
			-webkit-transform: rotateY(180deg);
			-moz-transform: rotateY(180deg);
		}
		.click .back{
		cursor: pointer;
			-webkit-transform: rotateY(-180deg);
			-moz-transform: rotateY(-180deg);
		}
		.click.flip .back {
			-webkit-transform: rotateY(0deg);
			-moz-transform: rotateY(0deg);
		}

		.click.flip.matched .back {
			-webkit-transform: rotateY(0deg !important);
			-moz-transform: rotateY(0deg !important);
		}


		/* -- cosmetics -- */
		.panel .pad {padding: 0 15px; }
		.panel.flip .action {display: none; }

		.circle div {border-radius: 10px; }
		.circle div h2 {padding-top: 3em; text-align: center; }

		.card1  { }
		.card2  { }
		.card3  { }
		.card4  { }
		.card5  { }
		.card6  { }

		#cardlist{ 
			position: absolute;
			z-index: 4;
			left: 90px ;
			top: 145px;
			display: none;
		}
		
		#clock {
			font-family: 'cantarellbold';
		    color: #fff;
		    font-size: 30px;
		    position: relative;
		    z-index: 6;
		    top: 80px;
		    left: 120px;
		    height: 40px;
		}


		ul { margin: 0px; padding: 0px; }
		li { margin: 0px; padding: 0px; 
			float: left; list-style: none;
		}

		a:link, a:visited, a:visited  {color: white; text-decoration: none;}
		a:hover { color:white;}


.fade0, .fade1,.fade2,.fade3,.fade4,.fade5,.fade6,.fade7,.fade8,.fade9{
	  opacity: 0;
	  -webkit-animation: fadeIn 1s .3s forwards; 
	  -moz-animation: fadeIn 1s .3s forwards; 
	  -o-animation: fadeIn 1s .3s forwards; 
	  animation: fadeIn 1s .3s forwards; 
}

.fade1{ -webkit-animation: fadeIn 1s .4s forwards; -moz-animation: fadeIn 1s .4s forwards; -o-animation: fadeIn 1s .4s forwards; animation: fadeIn 1s .4s forwards; }
.fade2{ -webkit-animation: fadeIn 1s .5s forwards; -moz-animation: fadeIn 1s .5s forwards; -o-animation: fadeIn 1s .5s forwards; animation: fadeIn 1s .5s forwards;}
.fade3{ -webkit-animation: fadeIn 1s .6s forwards; -moz-animation: fadeIn 1s .6s forwards; -o-animation: fadeIn 1s .6s forwards; animation: fadeIn 1s .6s forwards;}
.fade4{ -webkit-animation: fadeIn 1s .7s forwards; -moz-animation: fadeIn 1s .7s forwards; -o-animation: fadeIn 1s .7s forwards; animation: fadeIn 1s .7s forwards;}
.fade5{ -webkit-animation: fadeIn 1s .8s forwards; -moz-animation: fadeIn 1s .8s forwards; -o-animation: fadeIn 1s .8s forwards; animation: fadeIn 1s .8s forwards;}
.fade6{ -webkit-animation: fadeIn 1s .9s forwards; -moz-animation: fadeIn 1s .9s forwards; -o-animation: fadeIn 1s .9s forwards; animation: fadeIn 1s .9s forwards;}
.fade7{ -webkit-animation: fadeIn 1s 1s forwards; -moz-animation: fadeIn 1s 1s forwards; -o-animation: fadeIn 1s 1s forwards; animation: fadeIn 1s 1s forwards;}
.fade8{ -webkit-animation: fadeIn 1s 1.1s forwards; -moz-animation: fadeIn 1s 1.1s forwards; -o-animation: fadeIn 1s 1.1s forwards; animation: fadeIn 1s 1.1s forwards;}
.fade9{ -webkit-animation: fadeIn 1s 1.1s forwards; -moz-animation: fadeIn 1s 1.1s forwards; -o-animation: fadeIn 1s 1.1s forwards; animation: fadeIn 1s 1.1s forwards;}

#portrait{
  font-size: 30px;
  text-align: center;
  width: 100%;
  height: 500px;
  margin-top: 30%;
  color: white;
  font-family: 'cantarellbold';
  display: none;
}

/*MEDIA QUERY TO SHRINK DOWN TO FIT ON MOBILE ================================== */
@media all and (max-width: 400px) and (min-width: 300px) {

  /* STYLES GO HERE */ 
  #container{ 
        -moz-transform: scale(0.25,0.25); 
        -moz-transform: scale(0.25,0.25); /* IE 9 */
        -moz-transform: scale(0.25,0.25);  /* Safari and Chrome */
        -moz-transform: scale(0.25,0.25); 
        margin-top: -369px;
    }
}

@media all and (max-width: 1000px) and (min-width: 400px) {

  /* STYLES GO HERE */ 
  #container{ 
        transform: scale(0.45,0.45);
        -ms-transform: scale(0.45,0.45);/* IE 9 */
        -webkit-transform: scale(0.45,0.45); /* Safari and Chrome */
        -moz-transform: scale(0.45,0.45); 
        margin-top: -369px;
    }
}

@media  only screen and (orientation : portrait) {
/* Styles */
  #portrait{
    display: inline;
    width: 320px;
    left: 50%;
    margin-left: -160px;
    position: absolute;
    text-align: center;
  }

   #container{ 
    display: none;

   }
}

/*  ANIMATION STYLES =========================================================== */
@-webkit-keyframes fadeIn { 
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn { 
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn { 
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeIn { 
  0% { opacity: 0; }
  100% { opacity: 1; }
}